/* # Markdown 风格 */
/* 标题、正文、行内代码 - 颜色 */
:root {
    --primary: #212121;  /* rgb(30, 30, 30); */
    --content: #333333;  /* rgb(31, 31, 31); */
    --code-bg: rgba(175, 184, 193, 0.2); /* rgb(245, 245, 245); */
}
.dark {
    --code-bg: rgba(175, 184, 193, 0.2); /* rgb(55, 56, 62); */
}
/* 链接样式 */
.post-content a {
    color: #0969da;
    box-shadow: none;
    text-decoration: none;
}
.post-content a:hover {
    text-decoration: underline;
}
/* 行内代码 - 左右间距 */
.post-content code {
    margin: unset;
}
/* 代码块 - 最大高度 */
/* .post-content pre code {
    max-height: 40rem;
} */
 
/* 控制正文内图片的最大宽度 */
.post-content img {
    max-width: 100%;  /* 最大宽度为容器宽度 */
    height: auto;     /* 高度自动调整，保持图片的纵横比 */
    display: block;   /* 使图片成为块级元素，避免下方有空隙 */
    margin: 10px ; /* 上下有间距，左右居中 margin: 5px auto */
    /*  width: 80%;  /* 图片宽度为父容器的 80% */
}

/* 行文风格 */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Nimbus Sans L", Roboto, Noto, "Segoe UI", Arial, Helvetica, "Helvetica Neue", sans-serif;
    font-size: 1rem;     /* 设置文本的默认字体大小为 1rem，即 16px */
    line-height: 1.2;    /* 设置文本的行高为 1.8，它决定了行与行之间的垂直间距，使文本不至于过于紧凑*/
    margin: 0;
}

/* 调整正文部分（如段落、引用、标题、图片等）的间距、字体样式和布局。设置标题的字体加粗，引用文本颜色为灰色，并确保各元素之间有适当的间距 */
.post-content {
    padding-top: 0.0rem;    /* 顶部留白  上边框之间的内边距距离 */  
}
.post-content blockquote {
    color: #808080;
}
.post-content p,
.post-content blockquote,
.post-content figure,
.post-content table {
    margin: 1.15rem 0;
}
.post-content hr {
    margin: 4rem 8rem;
}
.post-content ul,
.post-content ol,
.post-content dl,
.post-content li {
    margin: 0.5rem 0;
}
.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
    margin-bottom: 1.05rem;
    font-weight: 600;
}
.post-content h1 {
    font-size: 1.6rem;                  /* 设置 h1 标题的字体大小为 2.6rem，即 41.6px */
    margin-top: 0.8rem;                   /* 设置 h1 标题的上外边距为 4rem，即 64px */
    border-bottom: 1px solid #ccc;    /* 设置 h1 标题的下边框为 1px 实线，颜色为 #ccc */
}
.post-content h2 {
    font-size: 1.8rem;
    margin-top: 0.8rem;
    border-bottom: 1px solid #ccc;
}
.post-content h3 {
    font-size: 1.6rem;
    margin-top: 0.8rem;
}
.post-content h4 {
    font-size: 1.4rem;
    margin-top: 0.8rem;
}
.post-content h5 {
    font-size: 1.2rem;
    margin-top: 0.8rem;
}
.post-content h6 {
    font-size: 1rem;
    margin-top: 0.8rem;
}

.post-title.entry-hint-parent {
    font-size: 1.3rem; /* 设置字体大小，例如2倍根字体大小 */
    line-height: 1.5; /* 控制行高，通常设置为1.5倍字体大小 */
    margin: 1rem 0; /* 设置上下外边距，调整与其他内容的距离 */
    font-weight: bold; /* 字体加粗 */
    color: #ec0e0e; /* 设置字体颜色 */
}


:root {
    --nav-width: 1380px;
    --article-width: 650px;
    --toc-width: 300px;
}

article.first-entry.home-info {
    margin: 0;  /* 调整边距或删除 */
}


/* 当用户点击文章内容中的图片时，图片会被放大 */
.post-content img[loading="lazy"]:active {
    transform: scale(1.382);
}

/* 使文章中的图片在页面上显示时都具有相同的宽度 */
.post-content img[loading="lazy"] {
    width: 100%;
    height: auto;
}


/*  */

.pagination {
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;
}
.pagination .page-item {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.pagination .page-item.active {
    background-color: #3a6ba5;
    color: #fff;
}
.pagination .page-item.disabled {
    color: #919eb1;
}
.pagination a {
    color: #21365c;
    text-decoration: none;
}
.pagination .page-link .page-item:hover {
    background-color: #f5f5f5;
}

/* 调整文末导航栏和评论区的距离 */
/* .paginav {
    margin-bottom: 45px;
  } */